.linkFloat {
  position: fixed;
  display: flex;
  top: 75vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  right: 8px;
  width: 50px;
  height: 170px;
}

.links-social-pages {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
