.Products {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #e2eef0, #d2f1ee);  
}

.wrapper-list-Products {
  width: 100%;
  margin-top: 70px;
  padding-top: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerlist{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
